<nav class="navbar sticky-top navbar-expand navbar-dark bg-dark">
  <div class="collapse navbar-collapse justify-content-start">
    <div class="navbar-nav">
      <a
        routerLink="/stocks"
        routerLinkActive="active"
        class="nav-item nav-link"
        >Készlet</a
      >
      <a routerLink="/users" routerLinkActive="active" class="nav-item nav-link"
        >Ügyfelek
      </a>
      <a
        routerLink="/rent"
        routerLinkActive="active"
        class="btn btn-outline-success my-2 my-sm-0"
      >
        Kölcsönzés
      </a>
    </div>
    <div class="collapse navbar-collapse justify-content-end"></div>
  </div>
</nav>
